body{
    margin: 0;
    padding: 0;
    font-size: small;
    background-color: #000;
}

*{
    margin: 0;
    padding: 0;
}


/**
 * スタート画面表示 
 */
.startboard{
    background-color: #CCC;
}

.startboard .board{
    background-color: #FFF;
    margin: 5px;
    margin-bottom: 20px;
}

.startboard .title{
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 1px 1px 6px #000;
    padding: 10px;
    color: #FFF;
    text-align: center;
}

.startboard .board .sub{
    font-size: large;
    font-weight: bold;
    padding: 10px;

    color: #000;
    clear: both;
}

/**
 * スコアボードの描画 
 */
.scoreboard{
    background-color: #CCC;
}

.scoreboard .board{
    background-color: #FFF;
    margin: 5px;
    margin-bottom: 20px;
}

.scoreboard .board:after{
    content: "."; 
    display: block; 
    clear: both; 
}

.scoreboard .gameover{
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 1px 1px 6px #000;
    padding: 10px;
    color: #FFF;
    text-align: center;
}

.scoreboard .board .sub{
    font-size: x-large;
    font-weight: bold;
    padding: 10px;

    clear: both;
    text-shadow: 1px 1px 3px #000;
}

.board .total{
    font-size: xx-large;
    font-weight: bold;
    padding: 10px;
    clear: both;
    text-shadow: 1px 1px 3px #000;
}

.board .title{
    width: 10em;
    float: left;
}

.board .value{
    float: right;
    text-align: right;
}

.button{
    margin: 0 auto;
    width: 20em;
    padding: 1em;
    font-size: large;
    font-weight: bold;
    border: solid 2px #000;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    color: #FFF;
}

.padbutton{
    width: 138px;
    height: 138px;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    background-repeat: no-repeat;
}

.padbutton.red{
    background-image: url(../images/button_red.png);
}

.padbutton.blue{
    background-image: url(../images/button_blue.png);
}

.padbutton.green{
    background-image: url(../images/button_green.png);
}

.padbutton.yellow{
    background-image: url(../images/button_yellow.png);
}

.crossbutton{
    width: 235px;
    height: 235px;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    background-repeat: no-repeat;
    background-image: url(../images/button_cross.png);
}
